<h1>edit</h1>
<input id="hidden" type="hidden" name="_method" value="patch">

<form action="/edit/<%= @item[:id] %>" class="form-inline" method="POST">
  <input type="text" placeholder="<%= @item[:content] %>" name="content">
  <button type="submit" class="btn btn-primary">Save</button>
</form>